<h1>Editing result</h1>
<%= render "form", result: @result, character: @character %>
<br>
<div>
  <%= link_to "Show this result", character_result_path(@character, @result) %> |
  <%= link_to "Back to results", character_results_path(@character) %>
</div>
