<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= character.personality %>
  </p>

  <p>
    <strong>Image src:</strong>
    <%= character.image_src %>
  </p>

</div>
