<div class="flex gap-2 items-end">
  <h2 class="text-3xl font-semibold">
    Edit character
  </h2>
  <%= link_to "Back to character", character_path(@character), class: "link link-primary link-underline-hover" %>
</div>
<%= render "form", character: @character %>